/* ----------------add news-----------------*/
.popup-show {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-hide {
    display: none;
}

.popup-content{
    display: grid;
    grid-template-areas: "d cl" "head e" "area e" "g1 e" ;
    grid-template-columns: 5fr 30px;
    grid-template-rows:  30px 0.5fr 5fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 0 0 30px 30px;
    border: 1px solid #888;
    width: 40%;
}

.grid1{
    grid-area: g1;
    display: grid;
    grid-template-columns: 2fr 1fr 0.8fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

div input, div textarea {
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: #ebedea;
    width: 100%;
    height: 100%;
}

#close {
    grid-area: cl;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.news-head {
    grid-area: head;
    width: 100%;
}


.news-text {
    grid-area: area;
    width: 100%;
}


.news-author {
    width: 100%;
}
.news-ref {
    width: 100%;
}


#n-text {
    resize: none;
    overflow-y: auto;
}

#n-btn-send {
    font-size: 20px;
}
